
<style>
    *{
        font-size: unset;
    }
    header{
        display: none !important;
    }
</style>

<div class="h-screen w-full flex flex-col items-center justify-center flex-wrap text-black leading-normal relative bg-white">
      <div class="aurora-gradient-1 w-52 h-52 rounded-full bg-purple-100 absolute top-96 left-96 filter blur-3xl opacity-70"></div>
      <div class="aurora-gradient-2 w-72 h-72 rounded-full bg-cyan-100 absolute top-12 right-96 filter blur-3xl opacity-70"></div>
      <div class="signup-wrapper shadow-xl shadow-blue-50 rounded-lg flex flex-col items-center p-4 bg-white relative">
      <div
        id="errorMessageWrapper"
        class="h-8 rounded-t-lg text-xs absolute w-full bg-red-50 -top-4 hidden"
      >
        <p id="errorMessage" class="font-semibold h-full w-full rounded-t-md flex justify-center items-center">
          error not allowed
        </p>
      </div>
        <div class="heading-wrapper w-full h-24 flex items-center justify-center">
          <h1 class="text-3xl capitalize font-bold">Signup</h1>
        </div>
        <div class="form-wrapper w-full h-76 flex flex-col items-center px-4">
          <form
            action="/signup"
            class="flex flex-col items-center"
            method="post"
            id="formRegister"
          >
            <input
              required
              autocomplete="off"
              type="text"
              name="Name"
              id="nameInput"
              placeholder="Enter your name"
              class="bg-slate-50 py-3 pr-28 pl-8 rounded-md placeholder:font-semibold text-sm mb-4 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mt-1 "
            />
            <input
              required
              autocomplete="off"
              type="email"
              name="Email"
              id="emailInput"
              placeholder="Enter email"
              class="bg-slate-50 py-3 pr-28 pl-8 rounded-md placeholder:font-semibold text-sm mb-4 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mt-1 "
            />

            <input
              required
              autocomplete="off"
              type="password"
              name="Password"
              id="passwordInput"
              placeholder="Enter password"
              class="bg-slate-50 py-3 pr-28 pl-8 rounded-md placeholder:font-semibold text-sm mb-4 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mt-1 "
            />

            <button
              type="submit"
              class="py-3 px-16 bg-blue-600 text-md text-white hover:bg-blue-500 rounded-lg mt-4"
            >
              Signup
            </button>


            <p class="mt-4 text-slate-200 font-medium">------------- <span class="text-slate-700 font-medium">or</span> -------------</p>
          </form>
        </div>
        <div
          class="extra-wrapper w-full flex h-20 items-center justify-center
         pl-8"
        >
          <div class="social-logos-wrapper flex">
            <img
              src="../../Images/googlelogo.png"
              alt=""
              class="h-8 w-auto mr-8 cursor-pointer"
              id="signUpGoogleLogo"
            />
            <img
              src="../../Images/call.png"
              alt=""
              class="h-8 w-auto mr-8 cursor-pointer"
            />
          </div>
        </div>
        <div class="footer-wrapper w-full h-28 absolute bottom-0 flex items-center justify-center">
          <p class="text-sm font-medium">
            Already have an accound ?
            <a href="/login"><span
              class="text-blue-500 cursor-pointer hover:text-blue-600 text-sm"
            >
              Login
            </span></a>
          </p>
        </div>
      </div>
    </div>
  );